<html>

<head>
    <title>STUDENTS</title>
</head>

<body><a href="/">back to home</a>
    <h2>students</h2>
    <form action="/add_student" method="POST">
        <input type="text" name="name" placeholder="enter name" />

        <button type="submit">Add</button>
    </form>
    {% if students %}
    <ul>
        {% for s in students %}
        <li>{{s}}</li>

        {% endfor %}
    </ul>
    {% else %}
    <p> ADD ONE </p>
    {% endif %}
</body>
<!--TODO: connect to a js and html file -->

</html>
